<h1>All Posts</h1>
<% count = 0 %>
<% @posts.each do |post| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <% count +=1 %>
        <% post.censor if count % 5 == 0 %>
        <%= link_to post.title, post %>
      </h4>
    </div>
  </div>
<% end %>
